#info {
    color: white;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

body {
    color: white;
    min-height: 600px;
}

#carousel {
    height: 50% !important;
}

.col-lg-4 {
    text-align: center !important;
}