<body>
  <div id="divpadre">

    <div id="card1" class="card container" style="width: 18rem;">
      <a id="a1" href="form-peticion" name="Free" class="enlaces">
        <img class="img-fluid" src="assets/images/GuindillaRiendo.png">
        <div class="card-body">
          <h5 class="card-title">Free</h5>
          <p class="card-text">Realiza una petición a los administradores para que añadan tu festival al catálogo.</p>
        </div>
      </a>
    </div>


    <div id="card2" class="card container" style="width: 18rem;">
      <a id="a2" href="form-peticion" name="Pro" class="enlaces">
        <img class="img-fluid" src="assets/images/GuindillaFeliz.png">
        <div class="card-body">
          <h5 class="card-title">Pro</h5>
          <p class="card-text">Realiza una petición a los administradores para que añadan tu festival al catálogo y lo
            sitúen entre los más
            recientes.</p>
        </div>
      </a>
    </div>


    <div id="card3" class="card container" style="width: 18rem;">
      <a id="a3" href="form-peticion" name="Business" class="enlaces">
        <img class="img-fluid" src="assets/images/GuindillaTranquila.png">
        <div class="card-body">
          <h5 class="card-title">Business</h5>
          <p class="card-text">Realiza una petición a los administradores para que añadan tu festival al catálogo y lo
            sitúen como Novedad.</p>
        </div>
      </a>
    </div>

  </div>
</body>