<body>
<div id="divpadre">
  
    <div id="card1" class="card container" style="width: 18rem;">
      <img class="img-fluid" src="/assets/images/GuindillaRiendo.png">
        <div class="card-body">
          <h5 class="card-title">Free</h5>
          <p class="card-text">Realiza una petición a los administradores para que añadan tu festival al catálogo.</p>
        </div>
      </div>

      <div id="card2" class="card container" style="width: 18rem;">
        <img class="img-fluid" src="/assets/images/GuindillaFeliz.png">
        <div class="card-body">
          <h5 class="card-title">Pro</h5> 
          <p class="card-text">Realiza una petición a los administradores para que añadan tu festival al catálogo y lo sitúen entre los más
            recientes.</p>
        </div>
      </div>

      <div id="card3" class="card container" style="width: 18rem;">
        <img class="img-fluid" src="/assets/images/GuindillaTranquila.png">
        <div class="card-body">
          <h5 class="card-title">Business</h5>
          <p class="card-text">Realiza una petición a los administradores para que añadan tu festival al catálogo y lo sitúen como Novedad.</p>
        </div>
      </div>
</div>
</body>