<body>
    <div id="tarjeta" class="col-10 container">

        <div id="divpadre">
            <div id="info">
                <div id="izquierda" class="col-3">
                    <img src="assets/images/Logo.svg" class="img-fluid" alt="Imagen artista"><br>
                    <h5 id="alias">Aquí va el nombre artístico</h5>
                </div>
                <div id="derecha" class="col-8">
                    <p id="nombre">Aquí va el nombre real</p>
                    <br>
                    <p id="desc">Aquí va la descripción</p>
                    <br>
                    <p id="generos">Aquí van los géneros de la musica</p>
                    <br>
                </div>
            </div>
            <div id="artista_lista">
                <i class="bi bi-arrow-left-circle-fill"></i><img id="img1" aria-label="Festival1"
                    src="assets/images/Logo.svg" class="festival"><img id="img2" aria-label="Festival2"
                    src="assets/images/Logo.svg" class="festival"><img id="img3" aria-label="Festival3"
                    src="assets/images/Logo.svg" class="festival"><img id="img4" aria-label="Festival4"
                    src="assets/images/Logo.svg" class="festival"><i class="bi bi-arrow-right-circle-fill"></i>
            </div>
        </div>
    </div>
</body>