<body>
    <div id="tarjeta" class="col-10 container">

        <div id="divpadre">
            <div id="info">
                <div id="izquierda" class="col-3">
                    <img id="foto" class="img-fluid" alt="Foto artista"><br>
                    <div id="nombreymg">
                        <h5 id="alias">Aquí va el nombre artístico</h5>
                        <i id="estado_megusta"></i>
                    </div>
                </div>
                <div id="derecha" class="col-7">
                    <p id="nombre">Aquí va el nombre real</p>
                    <br>
                    <p id="desc">Aquí va la descripción</p>
                    <br>
                    <p id="generos">Aquí van los géneros de la musica</p>
                    <br>
                </div>
                <div id="maspalla" class="col-1"> 
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div id="festival_lista">
                <i class="bi bi-arrow-left-circle-fill flechas"></i><a class="enlaces"><img id="img1" aria-label="Festival1"
                    src="assets/images/Logo.svg" class="festival"></a><a class="enlaces"><img id="img2" aria-label="Festival2"
                    src="assets/images/Logo.svg" class="festival"></a><a class="enlaces"><img id="img3" aria-label="Festival3"
                    src="assets/images/Logo.svg" class="festival"></a><a class="enlaces"><img id="img4" aria-label="Festival4"
                    src="assets/images/Logo.svg" class="festival"></a><i class="bi bi-arrow-right-circle-fill flechas"></i>
            </div>
        </div>
    </div>
</body>