*{
    font-size: large;
}

body{
    margin-top: 5% !important;
    color: white;
    min-height: 500px;
}

#listado{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}