*{
    font-size: large;
}

body{
    height: 600px !important;
    margin-top: 5% !important;
    color: white;
}

#divpadre{
    width: 90%;
    margin: auto;
    display: flex;
}

legend, p {
    font-size: 25px;
}

legend{
    margin-left: 20%;
}