<body>
    <div id="divpadre">
        <div id="izquierda" class="col-3">
            <img id="usuario"><br>
            <p id="nombre">Nombre va aquí</p><br>
            <p>Seguidores:</p>
            <p id="Seguidores">Seguidores aquí</p>
        </div>
        <div id="derecha" class="col-9">
            <div id="recently_festivals">
                <legend>Festivales añadidos a favoritos recientemente:</legend>
                <div id="lista_recientes"></div>
            </div>

            <br>

            <div id="artistas">
                <legend>Artistas que le gustan:</legend>
                <div id="carousel"></div>
            </div>

        </div>
    </div>
</body>
