<body>
    <div id="tarjeta" class="col-10 container">
        <form id="formulario" class="col-12">
            <div id="divpadre">
            <div id="izquierda" class="col-5 col-sm">
                <label for="email">Correo electrónico:</label>
                <br>
                <input type="email" id="email">
                <br>
                <label for="username">Usuario:</label>
                <br>
                <input type="text" id="username">
                <br>
                <label for="pswd">Contraseña:</label>
                <br>
                <input type="password" id="pswd">
                <br>
                <label for="pswd2">Repita la contraseña:</label>
                <br>
                <input type="password" id="pswd2">
                <br>
            </div>
            <div id="derecha" class="col-5">
                <label for="date">Fecha de nacimiento:</label>
                <br>
                <input type="date" id="date">
                <br>
                <label for="img">Subir foto:</label>
                <br>
                <input type="image" id="img">
            </div>
        </div>
        <div id="final">
            <br>
            <a>¿Quieres registrarte como empresa?</a>
            <br>
            <button type="submit">Acceder</button>
        </div>
        </form>
    </div>
</body>