*{
    color: white;
    font-size: large;
}

body{
    height: 600px !important;
    margin-top: 5% !important;
}
#tarjeta{
    background-color: #1E1E1E;
    margin: auto;
    border-radius: 5px;
    padding-top: 5%;
    height: 500px;
}

label{
    text-align: left !important;
}

button{
    color: black;
}
body{
height: 500px;
}

#formulario{
    width: 80%;
    margin: auto;
}

#divpadre{
    display: flex;
}

a{
    font-size: small;
}

input{
    color: black;
    width: 90%;
}

#final{
    text-align: center;
}