* {
    color: white;
    font-size: large;
}

body {
    min-height: 600px !important;
    margin-top: 5% !important;
}

#divpadre {
    width: 90%;
    margin: auto;
    display: flex;
}