*{
    font-size: larger;
}

body{
    margin-top: 5% !important;
    color: white;
}

legend{
    margin-left: 5%;
}

.listas{
    display: flex;
}

.imagencarta {
   height: 2px !important;
   width: auto !important;
}