<body>
    <div id="divpadre">
    <div id="populares">
        <legend class="col-10">Populares:</legend>
        <div id="lista_populares" class="listas"></div>
    </div>
    <hr>
    <div id="novedades">
        <legend class="col-10">Novedades:</legend>
        <div id="lista_novedades" class="listas"></div>
    </div>
    <hr>
    <div id="todos">
        <legend class="col-10">Todos los festivales:</legend>
        <div id="lista" class="listas"></div>
    </div>
    
</div>
</body>