*{
    font-size: larger;
}

body{
    margin-top: 5% !important;
    color: white;
    min-height: 700px;
}

legend{
    margin-left: 5%;
}

.listas{
    display: flex;
}

#lista, #lista_novedades, #lista_populares{
    text-align: center;
    justify-content: center;
}

.imagencarta {
   height: 2px !important;
   width: auto !important;
   object-fit: cover !important;
}