*{
    color: white;
    font-size: large;
}

body{
    min-height: 600px !important;
    margin-top: 5% !important;
}
#tarjeta{
    background-color: #1E1E1E;
    margin: auto;
    border-radius: 5px;
    padding-top: 5%;
    min-height: 500px;
}

button{
    margin-bottom: 2%;
}

label{
    text-align: left !important;
}

button{
    color: black;
}
body{
height: 500px;
}

#formulario{
    width: 80%;
    margin: auto;
}

a{
    font-size: small;
}

input{
    color: black;
    width: 90%;
}