* {
    color: white;
    font-size: large;
}

body {
    min-height: 600px !important;
    margin-top: 5% !important;
}

.alert {
    background-color: red;
    border: rgb(189, 0, 0) 2px solid;

}

#tarjeta {
    background-color: #1E1E1E;
    margin: auto;
    border-radius: 5px;
    padding-top: 5%;
}

button {
    margin-bottom: 2%;
}

label {
    text-align: left !important;
}

button {
    color: black;
}


#formulario {
    width: 80%;
    margin: auto;
}

a {
    font-size: small;
}

input {
    color: black;
    width: 90%;
}