*{
    color: white;
    font-size: larger;
}

body{
    margin-top: 5% !important;
}

#tarjeta{
    background-color: #1E1E1E;
    margin: auto;
    height: 500px;
    border-radius: 5px;
    padding-top: 5%;
}

label{
    text-align: left !important;
}

button{
    color: black;
}
body{
height: 500px;
}

#formulario{
    width: 80%;
    margin: auto;

}

a{
    font-size: small;
}

input{
    color: black;
    width: 100%;
}
