#RRSS{
    display: flex !important;
    }
    
    .rrss{
        margin-left: 2% !important;
        color: black !important;
    }
    
    #logo{
        width: auto !important;
        height: 150px !important;
    }

    footer{
    background: linear-gradient(to bottom right, black, #571AFF);
    };

    a{
        color: white;
        text-decoration: none;
    }

    .nav-link:hover, .rrss{
        color: #FFA600 !important;
    }

    *{
        color: white;
    }