#RRSS{
    display: flex !important;
    }
    
    .rrss{
        margin-left: 2% !important;
        color: black !important;
    }
    
    #logo{
        width: auto !important;
        height: 150px !important;
    }

    footer{
        background-color: #571AFF;
        
    }

    *{
        color: white;
    }