#logo{
    width: auto !important;
    height: 150px !important;
}

#navbarNavAltMarkup{
    justify-content: center;
}

#register{
    width: 150px !important;
}

#icon1, #icon2{
    padding-right: 5%;
    font-size: 2rem;
}

header{
    margin-bottom: 5% !important;
}

header{
    background-color: #FFA600;
}

*{
    color: white;
}