<body>
    <div id="divpadre">
        <img src="assets/images/Logo.svg">
        <div id="derecha">
            <p id="Name">Aquí va el nombre</p>
            <p id="Email">Aquí va el email</p>
            <p id="Desc"></p>
            <p id="Tlf"></p>
            <button id="deleter" class="btn btn-outline-danger">Eliminar cuenta</button><br><br>
            <a href="editing-info"><button id="changer" class="btn btn-outline-light">Editar información</button></a>
        </div>
    </div>
</body>