<body>
    <div id="divpadre">
        <img src="assets/images/Logo.svg">
        <div id="derecha">
            <p id="Name">Aquí va el nombre <i class="bi bi-pencil"></i></p>
            <p id="Email">Aquí va el email <i class="bi bi-pencil"></i></p>
            <p id="Desc">Aquí va la descripción <i class="bi bi-pencil"></i></p>
            <p id="Tlf">Aquí va el Telefono <i class="bi bi-pencil"></i></p>
            <button id="changer" class="btn btn-outline-danger">Eliminar cuenta</button>
        </div>
    </div>
</body>