*{
    color: white;
    font-size: large;
}

body{
    height: 600px !important;
    margin-top: 5% !important;
}

#divpadre{
    width: 90%;
    margin: auto;
    display: flex;
}

#derecha{
    margin:auto
}

.festival{
    width: 15%;
    height: 15%;
}

#deleter{
    color: red;
}

#deleter:hover{
    color: black;
}

.bi-pencil:hover{
    color: black;
}

i{
    margin-left: 3%;
    border: 1px solid white;
    padding: 1%;
    border-radius: 20%;
}

#artista_lista{
    text-align: center;
}