*{
    color: white;
    font-size: large;
}

body{
    height: 600px !important;
    margin-top: 5% !important;
}

#tarjeta{
    background-color: #1E1E1E;
    margin: auto;
    border-radius: 5px;
    padding-top: 5%;
    height: 550px;
}


#divpadre{
    width: 90%;
    margin: auto;
}

#info{
    display: flex;
}

#alta{
    display: flex;
    text-align: center;
    margin: auto;
}

i{
    font-size: 2em;
}

#derecha{
    margin-left: 10%;
}

.artistas{
        border-radius: 50%;
         width: 6rem;
        height: 6rem;
}

#artista_lista{
    text-align: center;
}