<body>
    <div id="divpadre">
        <div id="izquierda">
            <div id="festivales">
                <legend>Mis festivales favoritos:</legend>
            </div>
            <div id="artistas">
                <legend>Mis artistas favoritos:</legend>
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/Logo.svg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/Logo.svg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/Logo.svg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="derecha">
            <div id="following">
                <legend>Gente a la que sigo:</legend>
            </div>
            <div id="followed">
                <legend>Gente que me sigue favoritos:</legend>
            </div>
        </div>
    </div>
</body>