<body>
    <div id="tarjeta" class="col-10 container">

        <div id="divpadre">
            <div id="info">
                <div id="izquierda" class="col-3">
                    <img id="foto" class="img-fluid" alt="Foto festival">
                </div>
                <div id="derecha" class="col-8">
                    <div id="nombreymg">
                        <p id="nombre">Aquí va el nombre </p><i id="estado_megusta"></i>
                    </div>
                    <br>
                    <p id="ubicacion">Aquí va la ubicación</p>
                    <br>
                    <p id="desc">Aquí va la descripción</p>
                    <br>
                </div>
            </div>
            <div id="artista_lista">
                <i class="bi bi-arrow-left-circle-fill flechas"></i><a class="enlaces" id="enl1"><img id="img1"
                        aria-label="Artista1" src="assets/images/Logo.svg" class="artistas"></a><a class="enlaces"
                    id="enl2"><img id="img2" aria-label="Artista2" src="assets/images/Logo.svg" class="artistas"></a><a
                    class="enlaces" id="enl3"><img id="img3" aria-label="Artista3" src="assets/images/Logo.svg"
                        class="artistas"></a><a class="enlaces" id="enl4"><img id="img4" aria-label="Artista4"
                        src="assets/images/Logo.svg" class="artistas"></a><i
                    class="bi bi-arrow-right-circle-fill flechas"></i>
            </div>
        </div>
    </div>
</body>