<body>
    <div id="tarjeta" class="col-10 container">

        <div id="divpadre">
            <div id="info">
                <div id="izquierda" class="col-3">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/images/Logo.svg" class="d-block w-100 artistas" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/Logo.svg" class="d-block w-100 artistas" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/Logo.svg" class="d-block w-100 artistas" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div id="derecha" class="col-8">
                    <p id="nombre">Aquí va el nombre</p>
                    <br>
                    <p id="ubicacion">Aquí va la ubicación</p>
                    <br>
                    <p id="desc">Aquí va la descripción</p>
                    <br>
                </div>
            </div>
            <div id="artista_lista">
                <i class="bi bi-arrow-left-circle-fill"></i><img id="img1" aria-label="Artista1"
                    src="assets/images/Logo.svg" class="artistas"><img id="img2" aria-label="Artista2"
                    src="assets/images/Logo.svg" class="artistas"><img id="img3" aria-label="Artista3"
                    src="assets/images/Logo.svg" class="artistas"><img id="img4" aria-label="Artista4"
                    src="assets/images/Logo.svg" class="artistas"><i class="bi bi-arrow-right-circle-fill"></i>
            </div>
        </div>
    </div>
</body>