<body>
    <div id="tarjeta" class="col-10">
        <div id="divpadre" class="d-flex flex-column">

            <legend><h3> Añade artistas a tu festival:</h3></legend>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
            <hr>
            
            <form id="formulario" class="col-12" (ngSubmit) = "registerArtista()" #registerform = "ngForm">   
                <label for="name">Introduzca el nombre real del artista:</label>
                <input type="text" id="name" name="name" [(ngModel)]="artista.nombre">
                <br>
                <label for="apodo">Introduzca el apodo o nombre artístico del artista:</label>
                <input type="text" id="apodo" name="apodo" [(ngModel)]="artista.apodo">
                <br>
                <label for="gen">Introduzca los géneros de música que pertenezcan al artista separados por espacios:</label>
                <input type="text" id="gen" name="gen" [(ngModel)]="artista.generos">
                <br>
                <label for="desc">Introduzca la descripción del artista:</label>
                <textarea id="desc" name="desc" [(ngModel)]="artista.descripcion"></textarea>
                <br>
                <label for="tags">Introduzca etiquetas que describan al artista separadas por espacios:</label>
                <input type="text" id="tags" name="tags" [(ngModel)]="artista.tags">
                <br>
                <label for="text">Subir foto:</label>
                <input type="text" id="foto" name="foto" [(ngModel)]="artista.foto">
                <button id="addArtist" type="submit">Añadir</button>
            </form>
            <button id="finish">Finalizar</button>
        </div>
    </div>
</body>
