*{
    color: white;
    font-size: large;
}

body{
    min-height: 600px !important;
    margin-top: 5% !important;
}
#tarjeta{
    background-color: #1E1E1E;
    margin: auto;
    border-radius: 5px;
    padding-top: 5%;
    padding-bottom: 2%;
    min-height: 500px;
}

button{
    margin-bottom: 2%;
}

label{
    text-align: left !important;
}

button{
    color: black;
}

.alert{
    background-color: red;
    border: rgb(189, 0, 0) 2px solid;
    
}

#formulario{
    width: 80%;
    margin: auto;
}

a{
    font-size: small;
}

input{
    color: black;
    width: 90%;
}

#finish{
    width: 20%;
    margin: auto;
}